<form id="loginForm">
    <div class="form-group">
        <label for="author_email">Email address</label>
        <input
            type="email"
            class="form-control"
            id="author_email"
            name="author_email"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            value="salim1@gmail.com"
        />
        <small id="emailHelp" class="form-text text-muted">We'll never share
            your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="author_password">Password</label>
        <input
            type="password"
            class="form-control"
            id="author_password"
            name="author_password"
            placeholder="Password"
            value="123456"
        />
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
    const form = document.getElementById("loginForm");

    form.addEventListener("submit", async(e) => {
        e.preventDefault();
        const author_email = document.getElementById("author_email").value;
        const author_password = document.getElementById("author_password").value;

        try{
            const response=fetch("http://localhost:3000/api/author/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({author_email,author_password})
            })
            .then((response) => {
                console.log(response)
                if(response.ok) {
                    console.log("Login successful")
                    return response.json()
                } else {
                    console.log("Login failed")
                }
            })
            .then((tokens) => {
                console.log(tokens.accessToken);
                localStorage.setItem("accessToken", tokens.accessToken)
            })
            .catch((error) => {
                console.log("Error:", error)
            }) 
        } catch(error){
            console.log("An error occurred", error)
        }
    })
</script>
